@import "../../node_modules/@fortawesome/fontawesome-pro/css/all.css";


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font: var(--ft-m);
    color: var(--color-ft);
}

b b {
    font-weight: 800;
}