$breakpoints: (
    "": 99999px,
    "m": 1200px,
    "s": 900px,
    "xs": 600px
);

$block-widths: (
    "xs": 280,
    "s": 320,
    "m": 500
);

$spacings: (
    "none": 0,
    "3xs": 3,
    "2xs": 5,
    "xs": 10,
    "s": 15,
    "s-m": 20,
    "s-l": 30,
    "m": 40,
    "l": 60,
    "xl": 100,
    "2xl": 150,
    "3xl": 200
);

$gutters: (
    "xl": 60,
    "l": 30,
    "m": 20,
    "s": 10,
    "xs": 5,
    "2xs": 2,
    "none": 0
);

$colors: (
    "ft": #000000,
    "ft-weak": #C6C6C6,
    "ft-xweak": #ddd9e8,
    "ft-light": #ffffff,
    
    "white": #ffffff,

    "onyx": #000000,
    "onyx-weak": #4b4b4b,
    "onyx-xweak": #585858,
    "onyx-2xweak": #e6e6e6,

    "amethyst": #5D0B64,
    "amethyst-weak": #AB83AC,
    "amethyst-xweak": #E6CEE8,
    "amethyst-2xweak": #FEF1FF,

    "amber": #FFB400,
    "amber-weak": #FFC757,
    "amber-xweak": #FFF1D2,
    "amber-2xweak": #FEF7E8,
    
    "malachite": #196051,
    "malachite-weak": #75A5A8,
    "malachite-xweak": #D0F2EA,
    "malachite-2xweak": #EEFEFB,

    "ruby": #9E0745,
    "ruby-weak": #D1416D,
    "ruby-xweak": #FBBDC4,
    "ruby-2xweak": #f8d5de,

    "bg-light": #ffffff,
    "bg-weak": #C6C6C6,
    "bg-xweak": #FBFBFB,

    "border": #dadada,
    "border-weak": #f1f1f1,
    "border-strong": #B3B3B3,

    "disabled": #d3d4dc,
    "error": #FF2D42,
    "success": #10c773,

    "shadow": rgba(207, 215, 231, 0.3)
);

$main-colors: ("onyx", "amethyst", "amber", "malachite", "ruby");

$fonts: (
    "ft": (
        "name": "Rubik, sans-serif",
        "sizes": (
            "xs": "12px/1.5",
            "s": "14px/1.5",
            "m": "16px/1.5",
            "l": "18px/1.5",
            "xl": "20px/1.5",
        ),
        "weights": (
            "regular": 400,
            "medium": 500,
            "bold": 700
        )
    ),
    "ft-title": (
        "name": "'STIX Two Text', serif",
        "sizes": (
            "s": "17px/1.6",
            "m": "22px/1.2",
            "l": "26px/1.2",
            "xl": "32px/1.1",
            "2xl": "36px/1.2",
            "3xl": "40px/1.2"
        ),
        "weights": (
            "regular": 400,
            "medium": 500,
            "bold": 700
        )
    )
);