
@mixin box-shadow() {
    box-shadow: 0 3px 6px 0 var(--color-shadow);
}

@mixin mockup-loading($color: var(--color-bg-xweak)) {
    @include absolute-fill;
    width: 200px;
    transform-origin: left;
    animation: 750ms ease-in-out 0ms infinite mockup-loading;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #{$color}, rgba(255, 255, 255, 0));
}

@keyframes mockup-loading {
    0% {
        opacity: 0;
        transform: scaleX(0) translateX(0%);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        transform: scaleX(1) translateX(50%);
    }
}

.p-sticky {
    top: calc(var(--header-base) + var(--offset, 0px));
}

.br-s {
    border-radius: 10px;
}

.br-m {
    border-radius: 15px;
}

.br-l {
    border-radius: 25px;
}

.bg-to-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}

.text-underline {
    text-decoration: underline;
}

.ft-hand, .ft-hand-xs, .ft-hand-s, .ft-hand-m, .ft-hand-l, .ft-hand-xl {
    text-transform: uppercase;
}

.fade-enter-active {
    transition: all 250ms;
}

.fade-leave, .fade-leave-to {
    transition: none;
    display: none;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-5px);
}

.fade-enter-to {
    opacity: 1;
    transform: translateY(0);
}


// 

.default-enter {
    opacity: 0;
    transform: translateY(-5px);
}

.default-leave-to {
    opacity: 0;
    transform: translateY(-5px);
}

.default-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.default-leave-active {
    position: absolute;
    transition: all ease-in-out 300ms;
    z-index: 1;
}

.default-move {
    position: relative;
    z-index: 2;
    transition: all ease-in-out 300ms;
}

.round,
.round-s,
.round-xs {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    font: var(--ft-s-bold);
    line-height: 1;
}

.round-s {
    width: 25px;
    height: 25px;
}

.round-xs {
    width: 20px;
    height: 20px;
    font: var(--ft-xs-bold);
    line-height: 1;
}

@each $color in $main-colors {

    .fill-#{$color} {
        fill: var(--color-#{$color});

        svg, path {
            fill: var(--color-#{$color});
        }
    }
}

@each $color in $main-colors {
    
    .is-#{$color} {
        --color-current: var(--color-#{$color});
        --color-current-weak: var(--color-#{$color}-weak);
        --color-current-xweak: var(--color-#{$color}-xweak);

        --color-accent: var(--color-#{map-get($accent-colors, $color)});
        --color-accent-50: var(--color-#{map-get($accent-colors, $color)}-50);
        --color-accent-75: var(--color-#{map-get($accent-colors, $color)}-75);
        --color-accent-strong: var(--color-#{map-get($accent-colors, $color)}-strong);
        --color-accent-xweak: var(--color-#{map-get($accent-colors, $color)}-xweak);
    }
}

.is-light {
    --color-current: var(--color-gum);
    --color-current-weak: var(--color-gum-weak);
    --color-current-xweak: var(--color-bg-light);

    --color-accent: var(--color-pond);
    --color-accent-weak: var(--color-gum-weak);
    --color-accent-xweak: var(--color-gum-xweak);
}

.color-current { color: var(--color-current); }
.color-accent { color: var(--color-accent); }
.fill-accent { fill: var(--color-accent); }
.color-accent-weak { color: var(--color-accent-weak); }
.color-accent-strong { color: var(--color-accent-strong); }
.color-accent-50 { color: var(--color-accent-50); }
.color-accent-75 { color: var(--color-accent-50); }

.bg-current { background-color: var(--color-current); }
.bg-current-weak { background-color: var(--color-current-weak); }
.bg-current-xweak { background-color: var(--color-current-xweak); }

.bg-accent { background-color: var(--color-accent); }
.bg-accent-weak { background-color: var(--color-accent-weak); }
.bg-accent-xweak { background-color: var(--color-accent-xweak); }

.Separator {
    border: none;
    height: 1px;
    background-color: var(--color-border);
}

.link {
    font-weight: 500;
    color: var(--color-ft);
    
    &:hover {
        text-decoration: underline;
    }
}

.label {
    display: inline-block;
    font: var(--ft-xs-medium);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 6px;
    color: var(--color-current);
    border-radius: 4px;
    background-color: var(--color-current-xweak);
}

.marker {
    line-height: 1;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    top: 0;
    left: 0;
    transform: translate3d(-10%, -110%, 0) rotate(-10deg);
}

.strike {
    text-decoration: line-through;
}

.fx-dir-column-reverse\@s { flex-direction: column-reverse; }