.ArticleBlock {
    transition: all 150ms ease;
    cursor: pointer;
    text-align: left;
    display: block;
    
    &:hover {
        transform: translateY(-2px);

        .ArticleBlock_image {
            opacity: 0.75;
        }
    }
}

.ArticleBlock_image {
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    flex-shrink: 0;
    transition: all 150ms ease;

    &::after {
        content: "";
        @include ratio(100);
    }
}

.ArticleBlock_content {
    margin-top: 10px;
}

.ArticleBlock_category {
    font: var(--ft-xs-medium);
    color: var(--article-accent-color-weak);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.ArticleBlock_title {
    font: var(--ft-m-bold);
    line-height: 1.25;
    transition: all 150ms ease;
}

.ArticleBlock_date {
    font: var(--ft-s);
    text-transform: none;
    letter-spacing: normal;
}

.ArticleBlock_excerpt {
    font: var(--ft-m);
    display: none;
}

.ArticleBlock--horizontal {
    display: flex;
    align-items: center;

    .ArticleBlock_image {
        width: 190px;
    }

    .ArticleBlock_content {
        padding-left: 20px;
    }

    .ArticleBlock_title {
        font: var(--ft-xl-bold);
        line-height: 1.4;
    }

    .ArticleBlock_excerpt {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-top: 10px;
    }
}

.ArticleBlock--story {
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    .ArticleBlock_image {

        &::after {
            content: "";
            @include ratio(150);
        }
    }

    .ArticleBlock_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, var(--article-color-xweak-0) 0%, var(--article-color-xweak-50) 40%, var(--article-color-xweak-90) 60%, var(--article-color-xweak) 100%);
    }

    .ArticleBlock_title {
        font: var(--ft-l-bold);
        color: var(--article-accent-color);
        line-height: 1.25;
    }
}

@each $color in $main-colors {

    .ArticleBlock--#{$color} {
        --article-accent-color: var(--color-#{map-get($accent-colors, $color)});
        --article-accent-color-weak: var(--color-#{map-get($accent-colors, $color)}-weak);

        --article-color: var(--color-#{$color});
        --article-color-weak: var(--color-#{$color}-weak);
        --article-color-xweak: var(--color-#{$color}-xweak);
        
        --article-color-xweak-90: #{scale-color(map-get($colors, unquote($color + "-xweak")),  $alpha: -10%)};
        --article-color-xweak-50: #{scale-color(map-get($colors, unquote($color + "-xweak")),  $alpha: -50%)};
        --article-color-xweak-0: #{scale-color(map-get($colors, unquote($color + "-xweak")),  $alpha: -100%)};
    }
}

@include breakpoint-xs {

    .ArticleBlock {
        
        .ArticleBlock_image {
            width: auto;

            &::after {
                @include ratio(50);
            }
        }
    }

    .ArticleBlock--story {
        
        .ArticleBlock_image {
    
            &::after {
                @include ratio(100);
            }
        }
    }

    .ArticleBlock--horizontal {
        display: block;
        background-color: var(--color-bg-light);
        padding: 20px;
        border: 1px solid var(--color-border);
        border-radius: 8px;

        .ArticleBlock_image {
            width: auto;

            &::after {
                @include ratio(50);
            }
        }

        .ArticleBlock_content {
            padding-left: 0;
        }

        .ArticleBlock_title {
            font: var(--ft-m-bold);
        }

        .ArticleBlock_excerpt {
            display: none;
        }
    }
}