.ArticleBlock {
    display: flex;
    background: var(--color-bg-light);
    border: 1px solid var(--color-border-weak);
    transition: all 150ms ease;
    cursor: pointer;
}

.ArticleBlock_image {
    background-position: center;
    background-size: cover;
    width: 30%;
    flex-shrink: 0;
    transition: all 150ms ease;

    &::after {
        content: "";
        @include ratio(100);
    }
}

.ArticleBlock_content {
    flex-grow: 1;
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

.ArticleBlock_category {
    font: var(--ft-s);
    color: var(--color-amethyst-weak);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.ArticleBlock_title {
    font: var(--ft-title-l-bold);
    transition: all 150ms ease;
}

.ArticleBlock_excerpt {
    font: var(--ft-m);
    margin-top: 10px;
    max-width: 400px;
    @extend .ellipsis-2;
}

.ArticleBlock_footer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.ArticleBlock_date {
    font: var(--ft-s);
    color: var(--color-ft-weak);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ArticleBlock--l {

    .ArticleBlock_excerpt {
        max-width: 600px;
        @extend .ellipsis-3;
    }

    .ArticleBlock_content {
        padding: 20px 40px;
    }

    .ArticleBlock_title {
        font: var(--ft-title-l-bold);
    }

    .ArticleBlock_image {
        width: 35%;

        &::after {
            @include ratio(75);
        }
    }
}

.ArticleBlock--s {

    .ArticleBlock_title {
        font: var(--ft-title-s-bold);
        @extend .ellipsis-3;
    }

    .ArticleBlock_content {
        padding: 15px 20px;
    }

    .ArticleBlock_excerpt {
        display: none;
    }
}

@each $color in $main-colors {

    .ArticleBlock--#{$color} {

        &:hover {
            // background-color: var(--color-#{$color}-2xweak);
            border-color: var(--color-#{$color});
            box-shadow: 5px 5px 0 0 var(--color-#{$color}-xweak);

            .ArticleBlock_title {
                color: var(--color-#{$color});
            }

            .ArticleBlock_image {
                // opacity: 0.75;
                transform: scale(0.9);
            }
        }

        .ArticleBlock_category {
            color: var(--color-#{$color});
        }
    }
}