.AuthorBlock {
    font: var(--ft-m);
    color: var(--color-ft);
    padding: 10px;
    background-color: var(--color-bg-light);
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
}

.AuthorBlock_image {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 8px 25px 8px 8px;
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        @include absolute-fill;
        background-image: url("../img/blob/blob-cache-1.png");
        background-size: cover;
    }
}

@include breakpoint-s {

    .AuthorBlock {
        display: block;
        padding: 20px;
    }

    .AuthorBlock_image {
        width: 75px;
        height: 75px;
        margin: 0 20px 20px 0;
    }
}