.ButtonBase {
    display: inline-flex;
    font: var(--ft-s-medium);
    line-height: 1;
    color: var(--color-ft-light);
    padding: 0;
    border-radius: 40px;
    background-color: var(--color-pond);
    position: relative;
    box-shadow: 0 3px 8px 0 var(--color-pond-50);
    transition: box-shadow 100ms ease, background-color 100ms ease, color 100ms ease, transform 100ms ease, opacity 100ms ease;
    
    &:hover {
        transform: scale(0.98);
        box-shadow: 0 1px 4px 0 var(--color-pond-75);

        .ButtonBase_content {
            opacity: 0.75;
        }
    }

    &:active {
        transform: scale(0.95);
        box-shadow: 0 0px 3px 0 var(--color-pond);
        background-color: var(--color-pond-strong);

        .ButtonBase_content {
            opacity: 0.5;
            transform: scale(0.95);
            filter: blur(1px);
        }
    }
}

.ButtonBase_content {
    min-height: 45px;
    padding: 10px 20px;
    transition: all 100ms ease;
}

.ButtonBase_iconAfter {
    margin-left: 10px;
    font-size: 18px;
}

.ButtonBase_iconBefore {
    margin-right: 10px;
    font-size: 18px;
}

.ButtonBase--glow {
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background-color: var(--color-pond-strong);
        background: linear-gradient(90deg, var(--color-pond), var(--color-pond-weak));
        transform-origin: center;
        animation: gradient-glow 6s ease-in-out 0s infinite;
    }

    .ButtonBase_content {
        position: relative;
        z-index: 2;
    }
}

@keyframes gradient-glow {
    0% {transform: rotate(0deg) translate3d(0, 0, 0); }
    15% {transform: rotate(-8deg) translate3d(8%, -5%, 0); }
    30% {transform: rotate(5deg) translate3d(-20%, 3%, 0); }
    50% {transform: rotate(16deg) translate3d(2%, -2%, 0); }
    65% {transform: rotate(-8deg) translate3d(15%, -6%, 0); }
    80% {transform: rotate(12deg) translate3d(3%, 3%, 0); }
    100% {transform: rotate(0deg) translate3d(0, 0, 0); }
}

@each $color in $main-colors {

    .ButtonBase--#{$color} {
        background-color: var(--color-#{$color}-strong);
        box-shadow: 0 3px 8px 0 var(--color-#{$color}-50);
    
        &:hover {
            box-shadow: 0 1px 4px 0 var(--color-#{$color}-75);
        }

        &:active {
            box-shadow: 0 0px 3px 0 var(--color-#{$color});
            background-color: var(--color-#{$color}-strong);
        }

        &.ButtonBase--glow {

            &::before {
                background: linear-gradient(90deg, var(--color-#{$color}), var(--color-#{$color}-weak));
            }
        }
    }

    .ButtonBase--icon-#{$color} {
        
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            color: var(--color-#{$color});
        }
    }
}

.ButtonBase--current {
    background-color: var(--color-current-strong);
    box-shadow: 0 3px 8px 0 var(--color-current-50);

    &:hover {
        box-shadow: 0 1px 4px 0 var(--color-current-75);
    }

    &:active {
        box-shadow: 0 0px 3px 0 var(--color-current);
        background-color: var(--color-current-strong);
    }
}

.ButtonBase--light {
    background-color: var(--color-bg-light);
    color: var(--color-ft);
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
        color: var(--color-ft);
        background-color: var(--color-border);
    }
}

.ButtonBase--round {

    .ButtonBase_iconAfter,
    .ButtonBase_iconBefore {
        margin: 0;
    }

    .ButtonBase_content {
        width: 45px;
        height: 45px;
    }

    &.ButtonBase--l {

        .ButtonBase_content {
            width: 60px;
            height: 60px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }

    }

    &.ButtonBase--s {

        .ButtonBase_content {
            width: 40px;
            height: 40px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }

    }

    &.ButtonBase--xs {

        .ButtonBase_content {
            width: 35px;
            height: 35px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }
    }

    &.ButtonBase--2xs {

        .ButtonBase_content {
            width: 30px;
            height: 30px;
            min-height: 0;
            min-width: 0;
            padding: 0;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
            font-size: 14px;
        }
    }
}

.ButtonBase--s {

    .ButtonBase_content {
        min-height: 40px;
        padding: 3px 12px;
    }

    .ButtonBase_iconBefore {
        margin-right: 8px;
        font-size: 15px;
    }
}

.ButtonBase--xs {
    font: var(--ft-xs-medium);

    .ButtonBase_content {
        min-height: 35px;
        padding: 5px 10px;
    }

    .ButtonBase_iconAfter {
        margin-left: 6px;
        font-size: 14px;
    }

    .ButtonBase_iconBefore {
        margin-right: 6px;
        font-size: 14px;
    }
}

.ButtonBase--full {
    display: flex;
    width: 100%;
    justify-content: center;

    .ButtonBase_content {
        white-space: normal;
        line-height: 1.4;
        text-align: left;
    }
}

.ButtonBase--secondary {
    color: var(--color-onyx);
    background-color: transparent;
    border: 2px solid var(--color-onyx);
    box-shadow: none;

    &:hover {
        color: var(--color-ft-light);
        background-color: var(--color-pond);
        border-color: var(--color-pond);

        .ButtonBase_content {
            opacity: 1;
            transform: scale(1);
        }
    }

    &:active {

        .ButtonBase_content {
            opacity: 0.75;
            transform: scale(0.98);
        }
    }

    @each $color in $main-colors {

        &.ButtonBase--#{$color} {
            color: var(--color-#{$color});
            border-color: var(--color-#{$color});

            &:hover {
                color: var(--color-ft-light);
                background-color: var(--color-#{$color});
                border-color: var(--color-#{$color});

                .ButtonBase_iconBefore {
                    color: var(--color-ft-light);
                }
            }
    
            .ButtonBase_iconBefore {
                color: var(--color-#{$color});
            }
        }
    }

    &.ButtonBase--current {
        color: var(--color-current);
        border-color: var(--color-current);

        &:hover {
            color: var(--color-ft-light);
            background-color: var(--color-current);
            border-color: var(--color-current);

            .ButtonBase_iconBefore {
                color: var(--color-ft-light);
            }
        }

        .ButtonBase_iconBefore {
            color: var(--color-current);
        }
    }

    &.ButtonBase--current-mute {
        color: var(--color-ft-weak);
        border-color: var(--color-ft-weak);

        .ButtonBase_iconBefore {
            color: var(--color-ft-weak);
        }

        &:hover {
            color: var(--color-ft-light);
            background-color: var(--color-current);
            border-color: var(--color-current);

            .ButtonBase_iconBefore {
                color: var(--color-ft-light);
            }
        }
    }

    &.ButtonBase--light {
        color: var(--color-ft-light);
        border-color: var(--color-ft-light);

        &:hover {
            color: var(--color-ft);
            background-color: var(--color-ft-light);
            border-color: var(--color-ft-light);

            .ButtonBase_iconBefore {
                color: var(--color-ft-light);
            }
        }

        .ButtonBase_iconBefore {
            color: var(--color-ft-light);
        }
    }
}

.ButtonBase--link {
    padding: 0;
    background-color: transparent;
    border: none;
    font: var(--ft-s-medium);
    color: var(--color-ft);
    position: relative;
    opacity: 1;
    transition: none;

    .ButtonBase_content {
        padding: 0;
        min-height: 0;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: calc(50% - 10px);
        height: 1px;
        opacity: 0.25;
        transition: all 150ms ease;
        background-color: var(--color-ft);
    }

    &::after {
        z-index: 2;
        transform: scaleX(0);
        opacity: 1;
        transform-origin: left;
    }

    &:hover {
        color: var(--color-current);
        transform: none;

        .ButtonBase_content {
            transform: none;
            opacity: 1;
        }

        &::before, &::after {
            background: var(--color-current);
        }

        &::after {
            transform: scaleX(1);
        }
    }

    &:active {
        transform: none;
        border: none;
    }

    .ButtonBase_iconBefore {
        margin-right: 5px;
        font-size: 16px;
    }

    &.ButtonBase--strong {
        color: var(--color-ft-strong);

        &::before {
            background-color: var(--color-ft-weak);
        }

        &::after {
            background-color: var(--color-ft-strong);
        }
        
        &:hover, &.is-active {
            color: var(--color-ft-strong);
    
            &::after {
                transform: scaleX(1);
            }
        }
    }

    &.ButtonBase--light {
        color: var(--color-ft-light);
        
        &::before {
            background-color: var(--color-ft-light);
        }

        &::after {
            background-color: var(--color-ft-light);
        }
    }

    &.ButtonBase--m {
        font: var(--ft-m-medium);
    }
}

.ButtonBase.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.ButtonBase.is-loading {
    pointer-events: none;
    transform: scale(0.95);
    box-shadow: 0 0px 3px 0 var(--color-pond);
    background-color: var(--color-pond-strong);

    .ButtonBase_content {
        filter: blur(1px);
        opacity: 0.35;
    }

    @each $color in $main-colors {
    
        &.ButtonBase--#{$color} {
            box-shadow: 0 0px 3px 0 var(--color-#{$color});
            background-color: var(--color-#{$color}-strong);
        }
    }

    &.ButtonBase--secondary {
        color: var(--color-ft-light);
        border-color: var(--color-pond-strong);

        .ButtonBase_iconBefore {
            color: var(--color-ft-light);
        }
    }

    @each $color in $main-colors {

        &.ButtonBase--secondary.ButtonBase--#{$color} {
            border-color: var(--color-#{$color}-strong);
        }
    }
}