.ButtonBase {
    display: inline-flex;
    font: var(--ft-s-medium);
    line-height: 1;
    color: var(--color-ft-light);
    padding: 0;
    border: 1px solid transparent;
    transition: all 100ms ease;
    border-radius: 4px;
    background-color: var(--color-pond);

    &:hover {
        box-shadow: 0 0 0 2px var(--color-pond-weak);

        .ButtonBase_content {
            opacity: 0.75;
            transform: scale(0.98);
        }
    }

    &:active {
        box-shadow: 0 0 0 2px var(--color-onyx-weak);
        border: 1px solid var(--color-onyx-xweak);

        .ButtonBase_content {
            opacity: 0.5;
            transform: scale(0.95);
        }
    }
}

.ButtonBase_content {
    min-height: 50px;
    padding: 5px 20px;
    transition: all 100ms ease;
}

.ButtonBase_iconAfter {
    margin-left: 10px;
    font-size: 18px;
}

.ButtonBase_iconBefore {
    margin-right: 10px;
    font-size: 18px;
}

@each $color in $main-colors {

    .ButtonBase--#{$color} {
        background-color: var(--color-#{$color});

        &:hover {
            box-shadow: 0 0 0 2px var(--color-#{$color}-xweak);
        }

        &:active {
            box-shadow: 0 0 0 2px var(--color-#{$color}-weak);
            border-color: var(--color-#{$color}-xweak);
        }
    }

    .ButtonBase--icon-#{$color} {
        
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            color: var(--color-#{$color});
        }
    }
}

.ButtonBase--accent {
    background-color: var(--color-accent);

    &:hover {
        box-shadow: 0 0 0 2px var(--color-accent-xweak);
    }

    &:active {
        box-shadow: 0 0 0 2px var(--color-accent-weak);
        border-color: var(--color-accent-xweak);
    }
}

.ButtonBase--secondary {
    color: var(--color-onyx);
    background-color: transparent;

    &:hover {

        .ButtonBase_content {
            opacity: 1;
            transform: scale(1);
        }
    }

    &:active {

        .ButtonBase_content {
            opacity: 0.75;
            transform: scale(0.98);
        }
    }

    @each $color in $main-colors {

        &.ButtonBase--#{$color} {
            color: var(--color-#{$color});
            border: 1px solid var(--color-#{$color});

            &:hover {
                color: var(--color-ft-light);
                background-color: var(--color-#{$color});
            }
    
            .ButtonBase_iconBefore {
                color: var(--color-#{$color}-xweak);
            }
        }
    }
}

.ButtonBase--link {
    padding: 0;
    background-color: transparent;
    border: none;
    font: var(--ft-s-medium);
    color: var(--color-ft);
    box-shadow: none;
    position: relative;
    opacity: 1;
    transition: none;

    .ButtonBase_content {
        padding: 0;
        min-height: 0;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0%;
        right: 0%;
        bottom: calc(50% - 12px);
        height: 1px;
        opacity: 0.25;
        transition: all 150ms ease;
        background-color: var(--color-ft);
    }

    &::after {
        z-index: 2;
        transform: scaleX(0);
        opacity: 1;
        transform-origin: left;
    }

    &:hover {
        color: var(--color-accent);
        box-shadow: none;

        .ButtonBase_content {
            transform: none;
            opacity: 1;
        }

        &::before, &::after {
            background: var(--color-accent);
        }

        &::after {
            transform: scaleX(1);
        }
    }

    &:active {
        color: var(--color-accent-weak);
        border: none;
    }

    .ButtonBase_iconBefore {
        margin-right: 5px;
        font-size: 16px;
    }

    &.ButtonBase--accent {
        color: var(--color-accent);
    }

    &.ButtonBase--strong {
        color: var(--color-ft-strong);

        &::before {
            background-color: var(--color-ft-weak);
        }

        &::after {
            background-color: var(--color-ft-strong);
        }
        
        &:hover, &.is-active {
            color: var(--color-ft-strong);
    
            &::after {
                transform: scaleX(1);
            }
        }
    }
}


.ButtonBase.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}