.ButtonBase {
    font: var(--ft-s-bold);
    line-height: 1;
    letter-spacing: 2px;
    color: var(--color-ft);
    text-transform: uppercase;
    border: 2px solid var(--color-border);
    padding: 0;
}

.ButtonBase_content {
    min-height: 50px;
    padding: 5px 15px;
}

.ButtonBase_iconAfter {
    margin-left: 10px;
    font-size: 18px;
}

.ButtonBase_iconBefore {
    margin-right: 10px;
    font-size: 18px;
}


.ButtonBase--display {
    font: var(--ft-m-medium);
    line-height: 1;
    text-transform: unset;
    letter-spacing: unset;
    width: 100%;
    background-color: var(--color-bg-light);
    border-radius: 2px;

    .ButtonBase_content {
        width: 100%;
    }

    .ButtonBase_text {
        text-align: left;
        flex-grow: 1;
    }

    @each $color in $main-colors {

        &.ButtonBase--#{$color} {
            border: 1px solid var(--color-#{$color}-xweak);
    
            .ButtonBase_iconBefore {
                color: var(--color-#{$color}-xweak);
            }
        }
      }

    
}

.ButtonBase.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}