input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input, select {
  outline: none;
}

.InputChoice {
    display: flex;
    align-items: center;
    font: var(--ft-m-medium);
    line-height: 1;

    input {
        margin-right: 8px;
    }
}

.InputBase.is-disabled {
  color: var(--color-ft-weak);

  input {
    font-style: italic;
    cursor: not-allowed;
  }
}

.SelectBase_value {
    font: var(--ft-m);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.InputBase_label, .SelectBase_label {
  font: var(--ft-s-medium);
  background-color: transparent;
  color: var(--color-ft-weak);
}

.InputBase.is-value,
.InputBase.is-focused {

    .InputBase_label {
        transform: translate3d(-6px, -100%, 0) scale(0.95);
        color: var(--color-ft);
    }

    .InputBase_element {

        &::placeholder {
            opacity: 1;
        }
    }
}

.InputBase--s {
  min-height: 0;
  min-width: 0;
  font: var(--ft-s);

  .Inputbase_helpers {
    padding: 0 5px;
  }
  
  .InputBase_minus,
  .InputBase_plus {
    width: 20px;
    height: 20px;
  }

  .InputBase_element {
    padding: 5px 10px;
    flex-grow: 1;
  }
}