input[type="radio"],
input[type="checkbox"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    width: auto;
}

.InputChoice {
    display: flex;
    align-items: center;
    font: var(--ft-m-medium);
    line-height: 1;

    input {
        margin-right: 8px;
    }
}

.SelectBase_value {
    font: var(--ft-m);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}