.LandingModule {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-pond-xweak);
}

.LandingModule_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-pond-strong);
    font: var(--ft-m-medium);
    margin-bottom: 20px;
}