.LandingModule {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-current-xweak);
    overflow: hidden;
}

.LandingModule_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-current-weak);

    & > p {
        line-height: 1;
    }
}