.Title--xl {
    font: var(--ft-4xl);
    line-height: 1.2;
    color: var(--color-current-xstrong, var(--color-ft));

    b {
        font-weight: 500;
    }

    strong {
        font-weight: bold;
    }
}

.Title--l {
    font: var(--ft-3xl);
    line-height: 1.2;
    color: var(--color-current-xstrong, var(--color-ft));

    b {
        font-weight: 500;
    }

    strong {
        font-weight: bold;
    }
}

.Title_secondary {
    font: var(--ft-m-medium);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Title_secondary--s {
    font: var(--ft-s-medium);
    text-transform: uppercase;
    letter-spacing: 1px;
}

@include breakpoint-s {

    .Title--xl {
        font: var(--ft-3xl);
    }

    .Title--l {
        font: var(--ft-2xl);
    }
}