.Title_secondary {
    font: var(--ft-m-medium);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Title_secondary--s {
    font: var(--ft-s-medium);
    text-transform: uppercase;
    letter-spacing: 1px;
}