.Wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 900px;
}

.Wrapper--s {
    margin: 0 auto;
    width: 70%;
    max-width: 750px;
}

.Wrapper--l {
    width: 90%;
    max-width: 1100px;
}

@include breakpoint-xs {

    .Wrapper {
        width: auto;
        padding: 0 30px;
    }
}