.Wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 950px;
}

.Wrapper--m {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

.Wrapper--s {
    margin: 0 auto;
    width: 70%;
    max-width: 750px;
}

.Wrapper--xs {
    margin: 0 auto;
    width: 70%;
    max-width: 550px;
}

.Wrapper--l {
    width: 90%;
    max-width: 1200px;
}

.Wrapper--left {
    margin: 0 40px;
    width: auto;

    &.Wrapper--m {
        margin: 0 40px;
        width: auto;
        max-width: 1100px;
    }

    &.Wrapper--s {
        margin: 0 40px;
        width: auto;
        max-width: 800px;
    }
}

@include breakpoint-s {
    
    .Wrapper--left,
    .Wrapper--left.Wrapper--s,
    .Wrapper--left.Wrapper--m {
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@include breakpoint-xs {

    .Wrapper,
    .Wrapper--s,
    .Wrapper--m {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}