.LayoutDefault {
    background-color: var(--color-current-2xweak);
}

.LayoutDefault_content {
    padding-top: 100px;
}

@each $color in $main-colors {

    .LayoutDefault--#{$color} {
        --color-current: var(--color-#{$color});
        --color-current-weak: var(--color-#{$color}-weak);
        --color-current-xweak: var(--color-#{$color}-xweak);
        --color-current-2xweak: var(--color-#{$color}-2xweak);
    }
}