.LayoutDashboard {
    min-height: 100vh;
    
    .NavItem {
        display: flex;
        align-items: center;
        justify-content: center;
        font: var(--ft-m-medium);
        padding: 20px;
        transition: background-color 150ms ease, color 150ms ease;
        position: relative;
        white-space: nowrap;

        i {
            transition: all 150ms ease;
        }

        &.is-active-exact {
            color: var(--color-current-strong);
            background-color: var(--color-current-xweak);
        }

        &:hover:not(.is-disabled) {
            background-color: var(--color-current-xweak);
        }

        &.is-disabled {
            color: var(--color-ft-xweak);
        }
    }

    .NavItem_icon {
        text-align: center;
        width: 30px;
        flex-shrink: 0;
    }

    .NavItem--burger {
        display: none;
    }
}

.LayoutDashboard_nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    transition: box-shadow 200ms ease-out;

    &::after {
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-color: var(--color-bg-light);
        position: absolute;
        transform-origin: left;
        transition: all 200ms ease-out;
    }
}

.LayoutDashboard_logo {
    background: var(--color-current-xweak);
    margin: 20px;
    padding: 10px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-current);
    text-align: center;
}

.LayoutDashboard_abCompact {
    display: none;
}

.LayoutDashboard_logo,
.LayoutDashboard_links {
    position: relative;
    z-index: 2;
}

.LayoutDashboard_content {
    margin-left: 300px;
    min-height: 100vh;
    border-left: 1px solid var(--color-border);
}

.LayoutDashboard_toggle {
    position: absolute;
    bottom: 30px;
    right: -20px;
    z-index: 2;
}

.LayoutDashboard_close {
    display: none;
}

.LayoutDashboard.is-compact {

    .LayoutDashboard_content {
        margin-left: 70px;
    }

    .LayoutDashboard_logo {
        margin: 0;
        height: 120px;
        border-radius: 0px;
        transition: border-radius 150ms ease;
    }

    .LayoutDashboard_toggle {
        bottom: 15px;
        left: 15px;
        right: auto;
    }

    .LayoutDashboard_ab {
        display: none;
    }

    .LayoutDashboard_abCompact {
        display: block;
    }

    .NavItem {
        border-radius: 50%;

        .NavItem_label,
        .NavItem_arrow {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-5px);
        }
    }

    .LayoutDashboard_nav {
        width: 70px;
        
        &::after {
            transform: scaleX(calc(70 / 300));
        }

        &:hover {
            width: 300px;
            box-shadow: 0 0 0 9999px var(--color-onyx-25);
            transition-delay: 150ms;

            .LayoutDashboard_logo {
                margin: 20px;
                height: 100px;
                border-radius: 20px;
            } 

            .LayoutDashboard_ab {
                display: block;
            }
        
            .LayoutDashboard_abCompact {
                display: none;
            }

            .NavItem {    
                border-radius: 0;
            }
    
            .NavItem_label,
            .NavItem_arrow {
                position: relative;
                opacity: 1;
                pointer-events: all;
                transform: translateX(0);
                transition: all 250ms ease;
                transition-delay: 150ms;
            }

            &::after {
                transform: scaleX(1);
            }
        }
    }
}

.LayoutDashboard_mobileMenu {
    display: none;
}

@include breakpoint-s {
    
    .LayoutDashboard_content {
        margin-left: 0;
    }

    .LayoutDashboard_logo {
        display: none;
    }

    .LayoutDashboard_nav {
        width: 100%;
        height: 70px;
        max-width: 9999px;
        position: fixed;
        bottom: 0;
        top: auto;
        transform: none;

        &::after {
            display: none;
        }

        &.is-mobile {

            .LayoutDashboard_mobileMenu {
                transform: translate3d(0%, -100%, 0);
            }

            .LayoutDashboard_hider {
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    .LayoutDashboard_hider {
        pointer-events: none;
        opacity: 0;
        background-color: var(--color-onyx-25);
        transition: all 150ms ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .LayoutDashboard_links {
        display: flex;
        justify-content: space-between;
        margin: 0;
        position: relative;
        z-index: 2;
        border-top: 1px solid var(--color-border);
        background-color: var(--color-bg-light);

        .NavItem {
            height: 75px;
            display: none;

            &.is-mobile {
                display: flex;
            }
        }

        .NavItem_label,
        .NavItem_arrow {
            display: none;
        }
    }

    .LayoutDashboard_mobileMenu {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: var(--color-bg-light);
        transform: translate3d(100%, -100%, 0);
        width: 300px;
        transition: all 150ms ease;

        .NavItem {
            padding: 15px 10px;
        }
    }

    .LayoutDashboard_nav.is-active {
        transform: none;
        box-shadow: none;
    }

    .NavItem--burger {
        display: flex;
    }

    .LayoutDashboard_close {
        padding: 10px;
        width: 50px;
        height: 50px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: var(--color-ft-light);
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .LayoutDashboard_toggle {
        display: none;
    }
}