.ArticlePage {
}

.ArticlePage_title {
    color: var(--color-current);
}

.ArticlePage_banner {
    background-color: var(--color-current-2xweak);
}

.ArticlePage_category {
    color: var(--color-current-weak);
}