.GoPage {
    background-color: var(--color-gum-xweak);
    min-height: 100vh;
    padding: 60px 0;
    overflow: hidden;
}

.GoPage_container {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-light);
    border-radius: 10px;
    @include box-shadow;
}

@include breakpoint-xs {

    .GoPage {
        display: block;
        height: auto;
        padding: 0;
        background-color: var(--color-bg-light);
    }

    .GoPage_container {
        width: auto;
        padding: 20px;
        background: none;
        box-shadow: none;
    }
}