.LandingPage {
    
    &::before {
        content: "";
        
    }

    .Wrapper {
        z-index: 1;
        position: relative;
    }
}

.LandingPage_background {
    @include absolute-fill;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        background-image: var(--image);
        background-size: cover;
        filter: blur(20px);
    }
}

@include breakpoint-xs {

    .LandingPage_background {
        display: none;
    }
}