.EventBlock {
    position: relative;
}

.EventBlock_container {
    transition: all 200ms ease;
}

.EventBlock_image {
    background-image: var(--image);
    background-size: cover;
    transition: all 100ms ease;
    background-color: var(--color-bg-weak);
    border-radius: 10px;
    position: relative;

    &::after {
        content: "";
        @include ratio(60);
    }
}

.EventBlock_tags {
    position: absolute;
    top: 10px;
    left: 10px;
}

.EventBlock_content {
    transition: all 200ms ease;
}

.EventBlock_title {
    font: var(--ft-l-medium);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 15px 0 8px 0;
    min-height: 50px;
}

.EventBlock_detail {
    font: var(--ft-s);
    color: var(--color-ft-weak);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* STATES */

.EventBlock.is-past {

    .EventBlock_image {
        opacity: 0.5;
        filter: contrast(0.15) brightness(1.75);
    }

    .EventBlock_content {
        opacity: 0.5;
    }

    &:hover {

        .EventBlock_image {
            opacity: 1;
            filter: grayscale(0);
        }
    
        .EventBlock_content {
            opacity: 1;
        }
    }
}

/* MODIFIERS */

.EventBlock--s {

    .EventBlock_title {
        font: var(--ft-m-medium);
        -webkit-line-clamp: 1;
        min-height: 0;
        margin: 10px 0;
    }
}