.GalleryMosaic {
    
    &.is-no-selection {
        
        .GalleryMosaic_imageContainer {
            opacity: 1;
        }
    }
}

.GalleryMosaic_row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;

    &:last-child {
        justify-content: start;
    }

    .GalleryMosaic_imageContainer {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.GalleryMosaic_imageContainer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: var(--height);
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 100ms ease;
    background-color: var(--color-bg-light);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f6f6f6' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

    &.is-active {
        opacity: 1;

        .GalleryMosaic_selector {
            opacity: 1;
            font-size: 10px;
        }
    }

    &:hover {
        opacity: 1;

        .GalleryMosaic_selector {
            opacity: 1;
        }

        .actions {
            display: block;
            pointer-events: all;
        }
    }
}

.GalleryMosaic_image {
    display: block;
}

.GalleryMosaic_overlay {
    @include absolute-fill;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;

    &.is-active {
        opacity: 1;
    }
}

.GalleryMosaic_selector {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gum);
    font-size: 0;
    top: 5px;
    left: 5px;
    opacity: 0;
}