.LinkBase {
    font: var(--ft-m);
    line-height: 1;
    display: inline-block;
    position: relative;
    color: var(--color-cherry);
    font-weight: 500;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 50%;
        border-radius: 20px;
        background-color: var(--color-current-weak);
        opacity: 0.5;
        transform: translate3d(5px, 1px, 0);
        transition: all 100ms ease;
    }

    &:hover {

        .LinkBase_content {
            color: var(--color-current);
        }

        &::before {
            transform: translate3d(0px, 1px, 0);
            opacity: 0.5;
        }
    }

    &:active {

        .LinkBase_content {
            color: var(--color-current);
        }

        &::before {
            transform: translate3d(0px, 1px, 0) scale(0.95);
            opacity: 0.75;
        }
    }
}

.LinkBase_content {
    position: relative;
}