.MediaLibrary_media {
    background-image: var(--background);
    background-size: contain;
    background-color: var(--color-bg-weak);
    background-repeat: no-repeat;
    background-position: center;
    @include ratio(50);
}

.MediaLibrary_item {
    border: 1px solid var(--color-border);
}

.MediaLibrary_itemImage {
    height: 120px;
    background-size: cover;
    background-position: center;
}