.TextBody {
    font: var(--ft-l);
    line-height: 2;
    color: var(--color-ft);

    h1 {
        font: var(--ft-title-3xl);
        font-weight: bold;
        color: var(--color-ft);
        margin-top: 80px;
        margin-bottom: 20px;
        max-width: 70%;

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        font: var(--ft-title-2xl);
        font-weight: bold;
        color: var(--color-ft);
        margin-top: 60px;
        margin-bottom: 30px;
        max-width: 70%;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font: var(--ft-xl);
        color: var(--color-ft);
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 10px;
        max-width: 70%;
    }

    blockquote {
        font: var(--ft-title-xl);
        color: var(--color-ft);
        line-height: 1.5;
        padding: 0 0 0 40px;
        width: 80%;
        margin: 50px 0;
        border-left: 3px solid var(--color-border);
    }

    p + p {
        margin-top: 20px;
    }

    img {
        max-width: calc(100% + 60px);
        margin: 40px -30px;
        display: block;
    }

    ul, ol {
        margin: 10px 0 20px 0;

        li {
            margin: 3px 0 3px 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .Accordion {
        margin: 40px 0;
    }

    .StyledBlock {
        margin: 40px 0;
    }

    a {
        text-decoration: underline;
    }
}

.TextBody--s {
    font: var(--ft-m);
    color: var(--color-ft);

    h2 {
        font: var(--ft-l);
        font-weight: bold;
        color: var(--color-ft);
        margin-top: 20px;
        margin-bottom: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font: var(--ft-m);
        color: var(--color-ft);
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;

        &:first-child {
            margin-top: 0;
        }
    }

    p + p {
        margin-top: 10px;
    }

    ul, ol {
        margin: 10px 0 20px 0;

        li {
            margin: 5px 0 5px 40px;
        }
    }
}