.Title {
    font: var(--ft-title-l-bold);
}

.Title--xl {
    font: var(--ft-title-xl-bold);
}

.Title--2xl {
    font: var(--ft-title-2xl-bold);
}

.Title--3xl {
    font: var(--ft-title-3xl-bold);
}